<!doctype html>
<html lang="es">

<head>
  <title>K-SHOP</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
            <a class="navbar-brand" href="/">
                <img src="static/logo_kshop.PNG" alt=""  height="25px" class="d-inline-block align-text-top">
                
            </a>
            <a class="nav-item nav-link" href="/catalogo">Catálogo</a>
            <a class="nav-item nav-link" href="/nosotros">Nosotros</a>
            <a class="nav-item nav-link" href="/admin/login">Iniciar Sesión</a>
        </div>
    </nav>
   
    <div class="container">
        <br>