{% include 'sitio/cabecera.html' %}


 <!--div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>K-SHOP</h2>
            <p>La tienda de articulos y novedades más grande en CTG.</p>
            <button class="btn btn-outline-danger" type="button">Example button</button>
        </div>
    </div>
    
 </div-->

 <div class="p-5">
    <div class="container"> 
        <h1 class="display-3">K-SHOP</h1>
        <p>La tienda de articulos y novedades más grande en CTG.</p>
        <hr class="my-12">      
        <p class="lead" style="margin-bottom: 10px;">
            <a href="/catalogo" class="btn btn-primary col-md-12" role="button">Catálogo</a>
    
        </p>
       
    </div>
 </div>


 {% include 'sitio/pie.html' %} 